.Navigation {
  background-color: #435a71;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
.Navigation a {
  text-decoration: none;
  color: #d1d2c8;
  font-size: 20px;
}
.active {
  color: #cd9f78 !important;
}
